body{
    background-color: aliceblue;
    text-align: center;
}

img{
    height: 150px;
    width: 300px;
    border-radius: 12px;
    border: 8px solid black;
    padding: 10px;
    font-size: xx-large;
    font-weight: bolder;
}
img:hover{
    height: 150px;
    width: 300px;
    border-radius: 40px;
    border: 8px solid black;
    padding: 10px;
    font-size: xx-large;
    font-weight: bolder;
    background-color: coral;
    color: darkgreen;
}
#im{
    height: 30px;
    width: 300px;
    border: 2px solid black;
    font-size: x-large;
    font-weight: bolder;
}